/* CSS stuff.. I'll be honest I just mixed and matched things
until it looked like something, I'll learn it once I'm not sick */

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.storeContainer {
    width: 66%;
    align-items: center;
    position: absolute;
    width: 750px;
    margin-left: 18.5%;
    padding: 100px;
    box-sizing: border-box;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    background-color: #bbbbbb;
    
} 

section {
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    height: 300px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}

.labels {
    color: #FF0011;
}

div.absolute {
    position: relative;
    top: 15%;
    left: 50%;
    right: 0;
    width: 100px;
    height: 75px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: ridge;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    background-color: #FF0011; /* Green */
    border: ridge;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#work {
    background-color: #bbbbbb;
}
#bank {
    background-color: #bbbbbb;
}
#laptops {
    background-color: #bbbbbb;
}
